$fire-opal: #dd614a;
$middle-red: #f48668;
$vivid-tangerine: #f4a698;
$st-patricks-blue: #2a2a72;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

.App {
  text-align: center;
  padding: 3rem;
}

.grid {
  width: 40rem;
  height: 80rem;
  background-color: $fire-opal;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__unit {
    height: 4rem;
    width: 4rem;
    border: 1px solid $vivid-tangerine;
  }
}

.tetromino {
  background-color: $st-patricks-blue;
}
